# Ignores geneted pdfs
*.pdf

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.snm
*.vrb
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.mtc?